# Enable inverse search 
inverse_search_command /Applications/LyX.app/Contents/MacOS/lyxeditor %1 %2
# LyX command
# /Applications/sioyek.app/Contents/MacOS/sioyek --inverse-search "/Applications/LyX.app/Contents/MacOS/lyxeditor %1 %2" --forward-search-file $$f --forward-search-line $$n

# Open dictionary
new_command _search_dictionary /usr/bin/open dict://%{selected_text}

# new_command _ask_llm ~/.config/sioyek/explain_term.sh "%{selected_text}"

# new_command _ask_llm /opt/homebrew/Caskroom/miniconda/base/envs/datalab_env/bin/python ~/.config/sioyek/explain_term.py "%{selected_text}"
new_command _ask_llm python3 ~/.config/sioyek/explain_term.py "asd"
# visual_mark_color 